variable "region" {
  description = "Azure region to deploy to"
  type        = string
  default     = "east us"
}

variable "owner" {
  description = "Azure resource owner"
  type        = string
  default     = "bkauf@google.com"
}
variable "gcp_project" {
  description = "GCP project to register the Anthos Cluster To"
  type        = string
  default     = "anthos-tech-summit"
}
variable "gcp_region" {
  description = "GCP region to deploy the multi-cloud API"
  type        = string
  default     = "us-east4"
}

variable "gcp_azure_location" {
  description = "Azure region depiction in GCP. For example East US is eastus2"
  type        = string
  default     = "eastus"
}

variable "application_name" {
  description = "Azure Application Name. EX: Anthos-GKE"
  type        = string
  default     = "bkauf-anthos-gcp"
}

variable "cluster_rg" {
  description = "Name for the Cluster Resource Group"
  type        = string
  default     = "bkaf-CLUSTER_RESOURCE_GROUP_NAME"
}
variable "vnet_name" {
  description = "Name of VNet to create"
  type        = string
  default     = "bkauf-VNET_NAME"
}
variable "vnet_resource_group" {
  description = "Azure VNet resouce group"
  type        = string
  default     = "bkauf-VNET_RESOURCE_GROUP_NAME"
}

variable "role_admin" {
  description = "Name for the role admin"
  type        = string
  default     = "bkauf-AZURE_ROLE_ADMIN_NAME"
}
variable "role_vnet_admin" {
  description = "Name for the VNet role admin"
  type        = string
  default     = "bkauf-AZURE-ROLE-VNET-ADMIN-NAME"
}

variable "azure_client" {
  description = "Name for the GCP Azure client"
  type        = string
  default     = "bkauf-AZURE-CLIENT"
}

variable "azure_cluster" {
  description = "Name for the Anthos on Azure cluster"
  type        = string
  default     = "bauf-terraform-cluster"
}

variable "azure_nodepool" {
  description = "Name for the Anthos on Azure cluster nodepool"
  type        = string
  default     = "bkauf-azure-np"
}

#variable "ssh_pub_key" {
#  description = "ssh public key"
#  type        = string
#}

#variable "ssh_private_key_path" {
#  description = "path to the ssh private key"
#  type        = string
#}


